body {

  background-color: black;
  font-family: "Poppins", bold;
  text-align: center;
  align-content: center;
}


#logo {
  width: 25rem;
  height: 25rem;
}

p {
font-size: 1.25rem;
margin-bottom: 4.5rem;
font-weight: bolder;
color: white;
}

a {
color: white;
text-decoration: none;
background-color: rgb(235, 135, 20);
padding: 1rem 2rem;

font-size: 1rem;
border-radius: .9rem;

transition: background-color 400ms;
transition: font-weight 200ms;
}

a:hover{
  background-color: rgb(207, 118, 16); 
  font-weight: bolder;
  transition: font-weight 205ms;
}

footer {
  font-size: 0.8rem;
  color: white;
  margin-top: 3.8rem;
}

@media (width < 40rem) {
 html {
  font-size: 70%;
}}

#bg-image {
background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/14252534-fatia-de-pizza-em-uma-crosta-fina-em-um-fundo-preto-ilustracaoial-padrao-pizza-recheada-com-carne-cogumelos-e-ervas-padrao-decoracao-de-cozinha-papel-de-parede-elegante-vetor.jpg");

background-position: center;
background-size: contain;

opacity: 0.1;

position: absolute;
inset: 0;
z-index: -1;
}

#logo, p, a, footer {
  animation: appear 1s backwards;

}

#logo {
animation-delay: 0.2s
}

p {
animation-delay: 0.8s;
}

a {
animation-delay: 1.6s;
}

footer {
animation-delay: 2.2s;
}

@keyframes appear {
 0% {
  opacity: 0;
 } 
}



